doctype html
html(lang="en")
    head
        block title
            title Continua11y - Continuous Integration for Web Accessibility
        meta(charset="utf-8")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
        block extra_css
        link(rel="icon" type="image/png" href="/images/favicon.png")
        //- meta(property="og:url", content="https://continua11y.18f.gov")
        //- link(rel="canonical", href="https://continua11y.18f.gov")
        meta(property="og:title", content="Continua11y - Continuous Integration for Web Accessibility")
        meta(property="og:site_name", content="Continua11y - Continuous Integration for Web Accessibility")
        meta(property="description", content="Continua11y allows developers to get reports on their site's accessibility while they're building")
        meta(property="og:description", content="Continua11y allows developers to get reports on their site's accessibility while they're building")
        //- meta(property="twitter:card", content="summary_image_large")
        //- meta(property="og:image", content="")
    body
        a(href="/").homelink
            .header.text-center Continua11y
        .container
            .col-sm-10.col-sm-offset-1
                block content
            .col-sm-10.col-sm-offset-1
                hr
                .col-sm-6
                    div Pull requests and issues are welcome! The source code is available on <a href="https://github.com/18F/continua11y">Github</a>.
                .col-sm-6
                    div This project is dedicated to the public domain under a <a href="https://github.com/18F/continua11y/blob/master/LICENSE.md">CC0 license</a>.
                    
    script(src="/js/jquery-1.11.3.min.js")
    script(src="/js/bootstrap.min.js")
    block extra_js
    block script