doctype html
html(lang="en")
    head
        block title
            title Continua11y - Continuous Integration for Web Accessibility
        meta(charset="utf-8")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon" type="image/png" href="images/favicon.png")
    body
        a(href="/").homelink
            .header.text-center Continua11y
        .container
            block content
    block script